.nav-wrapper {
  position: absolute;
  background-color: #fff;
  z-index: 99;
  width: 340px;
  height: 60px;
  top: 16px;
  left: 16px;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0.5px 3px -1px, rgb(0 0 0 / 15%) 0px 5px 30px -10px;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 16px;
  gap: 16px;
}

.nav-logo {
  width: 170px;
  height: auto;
}
.nav-line,
.nav-description {
  font-family: "Poppins", sans-serif;
  color: #181c32;
  font-size: 18px;
}

.nav-description {
  font-weight: 400;
}
